# Ambiente virtual do Python
.venv/
venv/

# Cache e bytecode do Python
__pycache__/
*.py[cod]

# Banco de dados SQLite local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente e segredos
.env
.env.*

# Arquivos de configurações de editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db